## WARNING: This is header content is managed by puppet!    
## <%= @modulename %>/templates/html/README.html.footer.erb 
<footer>
<small>
***
<a href="https://github.com/ppouliot/puppet-quartermaster.git">
Quartermaster on GitHub
</a>
***
</small>
</footer>
</div>
</body>
</html>
